@using CabServiceManagement.Models
@model BookingViewModel
@{
    ViewData["Title"] = "Booking";
}


 
    <h1 >BOOKING</h1>



 <div classclass="container">   
     @*<div class="row">*@
        <div class="col-sm-4 offset-sm-4">
            <form method="post" >                    
                <div style="margin-top:-70px" >
                    <label asp-for="From" class="text-black float-start "></label>                        
                    <select asp-for="From" asp-items="@Html.GetEnumSelectList<Location>()" class="form-control">                            
                    <option>Select Pick-Up location</option>                        
                    </select>                                           
                </div>                    
                <div style="margin-top:-30px" >                        
                    <label asp-for="To" class="text-black float-start my-1"></label>
                    <select asp-for="To" class="form-control" asp-items="@Html.GetEnumSelectList<Location>()">                            
                    <option>Select Destination</option>                        
                    </select>                                           
                </div>
            <div style="margin-top:0px">
                <label asp-for="Date" class="text-black float-start"></label>
                    <input asp-for="Date" class="form-control" />                        
                    <span asp-validation-for="Date" class="text-danger"></span>                    
                </div>
            <div style="margin-top:0px">
                <label asp-for="CarModel" class="text-black float-start"></label>
                    <select asp-for="CarModel" class="form-control" asp-items="@Html.GetEnumSelectList<CarModel>()"></select>

                </div>                    
                @*<div class="d-grid mt-4">                    
                    <button class="btn btn-primary">Login</button>                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>                    
                </div>*@              
           @* <div class="d-grid mt-4">
                <button class="glow-on-hover btn-warning" style="width:438px" onclick="alert(" Paid")">Pay</button>

            </div>*@
            <div class="d-grid mt-4">
                <button style="width:438px;border-radius:10px" onclick="return confirm('Do you want to finish payement?')">Payment</button>
            </div>
            <div  class="d-grid mt-4" style="margin-top:10px">
                <button class="glow-on-hover btn-dark ">Book</button>                        
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>                   
                </div>              
        </form>            
    </div>
    @*</div>*@
</div>

@*</section>*@

