@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}






    <div class="one">
    <h1>CAB MANAGEMENT SYSTEM</h1>
  </div>


  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img class="img1" src="~/images/user.jpg"
                     class="img-fluid" alt="Sample image" style="margin-left: 13%; margin-bottom: 45%;">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post">


                    <div>
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="UserTypes"></label>
                    <select asp-for="UserTypes"
                            asp-items="@Html.GetEnumSelectList<UserType>()"class="form-control">
                            <option>Select User Type</option>
                    </select>
                    </div>
                    <div>
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="d-grid mt-4">
                        <button class=" btn btn-dark" >Register</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div asp-validation-summary="All">

                    </div>
                </div>
              
                
  
          </form>
        </div>
      </div>
    </div> 
  </section>